
.idea/compiler.xml

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/dataSources/70c30591-6cca-44f9-bc44-7cc259067b8f.xml

.idea/dataSources/70c30591-6cca-44f9-bc44-7cc259067b8f/storage_v2/_src_/database/postgres.edMnLQ.meta

.idea/dataSources/70c30591-6cca-44f9-bc44-7cc259067b8f/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta

.idea/dataSources/70c30591-6cca-44f9-bc44-7cc259067b8f/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta

.idea/dataSources/70c30591-6cca-44f9-bc44-7cc259067b8f/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta

.idea/encodings.xml

.idea/jarRepositories.xml

.idea/misc.xml

.idea/vcs.xml

.idea/workspace.xml

*.iml

.idea/
